## Importing

In [1]:
import math
from sys import stdin
from numpy import *
from matplotlib import pyplot as plt
from sklearn.preprocessing import OneHotEncoder

##  Inspect Methods

In [2]:
print(dir([]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

## Helping Method

In [3]:
help([].append)  # what the method does

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

## Evaluate and Execute Methods

In [4]:
eval("print('hello world')")

hello world

In [5]:
m, n = 6, 7
eval("m*n")

42

In [6]:
exec(
    """print("hello, World")
a, b = 6, 90
print(a + b)
print(sum([2, 3, 4]))"""
)

hello, World
96
9

- **eval**: it takes 1 line of code and executes it
- **exec**: it takes any lines of code and executes them

## Take an input

In [7]:
name = input('please enter your name :')

please enter your name :Amgad Hussein

In [8]:
age = int(input())

21

In [9]:
print(f"My name is {name}\nmy age is {age}")

My name is Amgad Hussein
my age is 21

## Converting

In [10]:
int('5')

5

In [11]:
int(5.7)

5

In [12]:
float(5)

5.0

In [13]:
float("5.87")

5.87

In [14]:
str(5)

'5'

In [15]:
str(5.87)

'5.87'

In [16]:
bool(None)

False

In [17]:
bool(12)

True

In [18]:
bool("asas")

True

## Sorting Methods

In [19]:
L = [3, 4, 2, 1]

> **without the list changing**

In [20]:
print(f"sort: {sorted(L)}\nL: {L}")

sort: [1, 2, 3, 4]
L: [3, 4, 2, 1]

In [21]:
print(f"reversed: {list(reversed(L))}\nL: {L}") # convert reverse iterator

reversed: [1, 2, 4, 3]
L: [3, 4, 2, 1]

In [22]:
print(f"reverse sort: {sorted(L, reverse = True)}\nL: {L}")

reverse sort: [4, 3, 2, 1]
L: [3, 4, 2, 1]

> **with the list changing**

In [23]:
L.reverse()
L

[1, 2, 4, 3]

In [24]:
L.sort()
L

[1, 2, 3, 4]

In [25]:
L.sort(reverse = True)
L

[4, 3, 2, 1]

## Formating Methods

In [26]:
format(1.2345, '.2f')

'1.23'

In [27]:
'{0:.2f}'.format(1.2345)

'1.23'

In [28]:
'%.2f'% 1.2345

'1.23'

In [29]:
f"{90:0b}"

'1011010'

## Range(start, stop, step)

In [30]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

## Length, Ord, Chr

In [31]:
alphapet = [chr(c) for c in range(ord('a'), ord('z') + 1)]

- **ord**: from ASCII code to characters
- **chr**: form characters to ASCII code

In [32]:
alphapet

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [33]:
len(alphapet)

26

In [34]:
nums = [78, 21, 112, 11, -319]
len(nums)

5

## Mapping: 
<center> 
    <h2> map(method, list)</h2>  
    <br> For each item in the list preform the method
</center>

In [35]:
list(map(abs, [-1, -2, 0, 1, 2]))

[1, 2, 0, 1, 2]

In [36]:
x, y = map(int, ['5', '90'])
x + y

95

## Anonymous function = *lambda* expression

In [37]:
# function name = lambda <parameters>: expression
multi = lambda x: x * 2

multi(7)

14

In [38]:
nums

[78, 21, 112, 11, -319]

In [39]:
list(map(multi, nums))

[156, 42, 224, 22, -638]

In [40]:
forest = [
    "Wistman's Wood", "Puzzlewood",
    "Zhangjiajie National Forest Park",
    "Tree Mountain",
    "Adak “National Forest",
    "Avenue of the Baobabs",
    "The Dark Hedges"
]

sorted(forest, key = lambda name: name[0]) #sort forest by first name

['Adak “National Forest',
 'Avenue of the Baobabs',
 'Puzzlewood',
 'Tree Mountain',
 'The Dark Hedges',
 "Wistman's Wood",
 'Zhangjiajie National Forest Park']