## Creating a list

In [1]:
nums = list(range(1, 6))

In [2]:
my_name = list("amgad")

## Slicing <center> var[start: stop: step] </center>

In [3]:
nums

[1, 2, 3, 4, 5]

In [4]:
nums[3]

4

In [5]:
nums[1: 4]

[2, 3, 4]

In [6]:
nums[-1: :-1] #reversed

[5, 4, 3, 2, 1]

In [7]:
nums[:8 :2] # with 2 steps each time

[1, 3, 5]

## List Operations

In [8]:
[1, 2, 3] + [4, 5, 6]  # Concatenation

[1, 2, 3, 4, 5, 6]

In [9]:
['Ni!'] * 4  # Repetition

['Ni!', 'Ni!', 'Ni!', 'Ni!']

## Nesting

In [10]:
# A 3 Ã— 3 matrix, as nested lists
matrix = [
    [1, 90, 3], 
    [23, 5, 0], 
    [45, 2, 9]
]

In [11]:
matrix[0][2] # row 1, column 3

3

In [12]:
matrix[1][0] # row 2, column 1

23

## Adding to the list (Methods)

In [13]:
nums = [30, 40, 15, 32]

In [14]:
nums.append(9000)
nums

[30, 40, 15, 32, 9000]

In [15]:
nums.insert(2, 8000)#index 2, insert 8000
nums

[30, 40, 8000, 15, 32, 9000]

In [16]:
nums.extend(range(5))
nums

[30, 40, 8000, 15, 32, 9000, 0, 1, 2, 3, 4]

- **appending**: add an item to the end of the list.

- **inserting**: insert a value in a particular position.

- **extend**: add a whole list to the current list. <mark>Concatenation</mark>

## Deletion Methods

In [17]:
nums = [0, 0, 1, 2, 3, 1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 18, 19, 20, 20]

In [18]:
nums.remove(1)

In [19]:
nums

[0,
 0,
 2,
 3,
 1,
 2,
 3,
 4,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 18,
 19,
 20,
 20]

In [20]:
removed_num = nums.pop()  # del last item and return it

In [21]:
removed_num

20

In [22]:
value_at_index_4 = nums.pop(4)

In [23]:
value_at_index_4

1

In [24]:
print(nums)

[0, 0, 2, 3, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 18, 19, 20]

In [25]:
del nums[0] # delete a particular position

In [26]:
print(nums)

[0, 2, 3, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 18, 19, 20]

In [27]:
del nums[0 : len(nums)//2] # delete half the list

In [28]:
print(nums)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 18, 19, 20]

In [29]:
nums.clear()

In [30]:
nums

[]

In [31]:
del nums # to delete a list it-self

print(nums)

NameError: name 'nums' is not defined

- **remove**: remove first item has a particular value(input) from the list.

- **pop**: remove an item from the list depending on its position and **return its value**, if no particular position removes the last item.

- **del**: delete a set of numbers given there start and end point.

- **clear**: to delete all items.

## Other Methods

In [32]:
name = input().split()

Amgad Hussein Ahmed

In [33]:
name.index("Ahmed")

2

- **index**: find the index of a value in the list.

In [34]:
nums = [78, 21, 112, 11, -319, 11, 11, 90, 2]

nums.count(11)

3

- **count**: count the reapetion for an item.

## Enumerate

In [35]:
list(enumerate(name))

[(0, 'Amgad'), (1, 'Hussein'), (2, 'Ahmed')]

In [36]:
for num, _name in enumerate(name):
    print(num, _name)

0 Amgad
1 Hussein
2 Ahmed

- **enumerate**: returns tuple with his (index, value) for each item in the list.

## Zipping
> iterate in different lists at the same time.

In [37]:
words = ["book", "bird", "sign"]
flowers = ["Aconitum", "Agapanthus", "Alchemilla"]

In [38]:
list(zip(words, flowers))

[('book', 'Aconitum'), ('bird', 'Agapanthus'), ('sign', 'Alchemilla')]

In [39]:
for item in list(zip(words, flowers)):
    print(item)

('book', 'Aconitum')
('bird', 'Agapanthus')
('sign', 'Alchemilla')

In [40]:
for index, (word, flower) in enumerate(zip(words, flowers)):
    print(f"{index}: {word}, {flower}")

0: book, Aconitum
1: bird, Agapanthus
2: sign, Alchemilla