## Define Variables "Objects"

In [1]:
hello = 'Hello, World' # string
print(hello)

Hello, World

In [2]:
n = 9 # integer
f = 9.12# float

In [3]:
mylist = [1, 2, 3, 4, 4, 4] #list
mytuple = (1, 2, 3, 4, 4, 4) #tuple
mydict = {
    "name":["Hassan", "Hanan", "Marwa", "Maged", "Amgad"],
    "age":21,
    "year":"final"
}#dictionary
myset = {1, 2, 3, 4, 4, 4, 4, 4}#set

In [4]:
print(f"{mylist}\n{mytuple}\n{mydict}\n{myset}")

[1, 2, 3, 4, 4, 4]
(1, 2, 3, 4, 4, 4)
{'name': ['Hassan', 'Hanan', 'Marwa', 'Maged', 'Amgad'], 'age': 21, 'year': 'final'}
{1, 2, 3, 4}

## Objects have (name, value, id, type)

In [5]:
num = 50
print(f"n: {num}\nid: {id(num)}\ntype: {type(num)}")

n: 50
id: 94486930995488
type: <class 'int'>

## One line Declaration

In [6]:
var1, var2, var3 = 3, 4, 5

In [7]:
var2

4

In [8]:
var_nums = var1, var2, var3 # vars_nums = tuple of vars

In [9]:
var_nums

(3, 4, 5)

In [10]:
var1 = var2 = var3 = 5 # all have same values
var1, var2, var3

(5, 5, 5)

## References

> **Immutable object reference**

In [11]:
a = 1
id(a)

94486930993920

In [12]:
a += 1
id(a) # if the value of an object changed the reference will change too

94486930993952

>**In place reference**

In [13]:
l1 = [2, 3, 4]  # A mutable object
l2 = l1

In [14]:
l2[0] = 90000000 #change the value of the first index

In [15]:
l2

[90000000, 3, 4]

In [16]:
id(l1) == id(l2) # same reference

True

In [17]:
l1 is l2 # same object

True

- **is**: it compares between (dtype, value)

> **Create New Object**

In [18]:
from copy import deepcopy

new_list = deepcopy(l1) # copy an object with new reference

In [19]:
print("my new list:", new_list)
print("my old list:", l1)

my new list: [90000000, 3, 4]
my old list: [90000000, 3, 4]

In [20]:
l1 is new_list # not the same object

False

In [21]:
id(l1) == id(new_list) # not the same reference

False

## Variable Scope

In [22]:
#level 0
def outer_name(new_name):
    name = "outer " + new_name

    def inner_name():
        name = "inner " + new_name
    inner_name()

    return name

def _outer_name(new_name):#level 1
    name = "outer " + new_name

    def _inner_name():#level 2
        nonlocal name #to see the object in the previous level
        name = "inner " + new_name
    _inner_name()

    return name

In [23]:
if __name__ == "__main__":
    name = input()
    print(outer_name(name))
    print(_outer_name(name))

Amgad
outer Amgad
inner Amgad