## String Basic Operations

In [1]:
'abc' + 'def' # Concatenation: a new string

'abcdef'

In [2]:
'Ni!' * 4 # Repetition: "Ni!" + "Ni!" + ...

'Ni!Ni!Ni!Ni!'

## ASCII Code

In [3]:
a_asc = ord('a')

In [4]:
a_char = chr(a_asc)

In [5]:
print(a_char, a_asc)

a 97

## String Method

- **split**: takes a string and returns a list of all splitting value according to the delimiter
- **Join**: takes a list of strings and returns joined string depends on target delimiter.

In [6]:
full_name = input()# delimiter default value = ' '

Amgad Hussein Ahmed

In [7]:
full_name.split(sep = ' ')

['Amgad', 'Hussein', 'Ahmed']

In [8]:
full_name.split(sep = 'm')

['A', 'gad Hussein Ah', 'ed']

In [9]:
name_list = full_name.split(sep = ' ')

In [10]:
" ".join(name_list)

'Amgad Hussein Ahmed'

- **count**: count a particular value

In [11]:
alphapet = [chr(c) for c in range(ord('a'), ord('z') + 1)]

In [12]:
alphapet

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [13]:
alphapet.count('f')  # who many times 'f' is repeatedf

1

- **replace**

In [14]:
string = "first last"
string.replace("last", "second")

'first second'

In [15]:
#num of changes
greeting = "hello, World World World World World"

greeting.replace("World", "New World")

'hello, New World New World New World New World New World'

In [16]:
greeting.replace("World", "New World", 2)

'hello, New World New World World World World'

- **find**: getting the index of a char, **returns -1 if the character does not exist**

In [17]:
string.find('A')

-1

In [18]:
string.find('a')

7

In [19]:
#
# start searching point
#
first_s = string.find('s')
second_s = string.find('s', first_s + 1) #start after the first founded "s".
third_s = string.find('s', second_s + 1)

In [20]:
first_s, second_s, third_s

(3, 8, -1)

## Slicing <center> var[start: stop: step] </center>

In [21]:
string

'first last'

In [22]:
string[3]

's'

In [23]:
string[2: 10]

'rst last'

In [24]:
string[-1: :-1] #reversed

'tsal tsrif'

In [25]:
string[:8 :2] # with 2 steps each time

'frtl'

## Slicing <center> var[start: stop: step] </center>

In [26]:
string

'first last'

In [27]:
string[3]

's'

In [28]:
string[2: 10]

'rst last'

In [29]:
string[-1: :-1] #reversed

'tsal tsrif'

In [30]:
string[:8 :2] # with 2 steps each time

'frtl'

## Text abbearnce

In [31]:
name = input()

amgad hussein ahmed

In [32]:
name.capitalize()

'Amgad hussein ahmed'

In [33]:
name.title()

'Amgad Hussein Ahmed'

In [34]:
name.lower()  # lowercase

'amgad hussein ahmed'

In [35]:
name.upper()  # uppercase

'AMGAD HUSSEIN AHMED'

In [36]:
name.swapcase()

'AMGAD HUSSEIN AHMED'

In [37]:
line = "\tThe knights\n"

line.strip()

'The knights'

In [38]:
line.rstrip()

'\tThe knights'

- **capitalize**: capitalize just a first word
- **title**: capitalize each word
- **swapcase**: swap the upper case with lower case letters
- **strip**: remove the space/new line <mark>after and before</mark> the string
- **restrip**: remove the space/new line <mark>after</mark> the string

## String check methods

In [39]:
"hello".isalpha()

True

In [40]:
"hello3".isalpha()

False

In [41]:
"3ab".isalnum()

True

In [42]:
"3ab!".isalnum()

False

In [43]:
' '.isspace()

True

In [44]:
','.isspace()

False

In [45]:
"hello".islower()

True

In [46]:
"hello".isupper()

False

In [47]:
"Hello".istitle()

True

In [48]:
"HELLO".istitle()

False

In [49]:
"78".isdigit()

True

In [50]:
"dfs77a".isdigit()

False

In [51]:
name = "word"

name.startswith("wo"), name.endswith('f')

(True, False)

## String Formatting
- **s** – strings
- **d** – decimal integers (base-10)
- **f** – floating point display
- **c** – character
- **b** – binary
- **o** – octal
- **x** – hexadecimal with lowercase letters after 9
- **X** – hexadecimal with uppercase letters after 9
- **e** – exponent notation

In [52]:
n = 889898

print(f"hex: {n:0x}\noct: {n:0o}\nbinary: {n:0b}")

hex: d942a
oct: 3312052
binary: 11011001010000101010

In [53]:
print("My name is {0} \nMy age is {1}".format(input() ,int(input())))

Amgd
21
My name is Amgd
My age is 21

In [54]:
names = input().strip().split(sep = ' ')

print("{first} {second} {third}".format(first = names[1], third = names[0], second = names[2]))#depend on order

Amgad Hussein Ahmed
Hussein Ahmed Amgad

## Type-specific substitutions

In [55]:
'%d %s %g lettersssss' % (1, 'flower', 4.0)

'1 flower 4 lettersssss'

In [56]:
'%s -- %s -- %s' % (42, 3.14159, [1, 2, 3]) # s take any type

'42 -- 3.14159 -- [1, 2, 3]'

In [57]:
friends = "%(first)s, %(second)s, %(third)s and %(fourth)s"

In [58]:
friends % dict(first = "Khaled", second = "Hussein", third = "Hassan", fourth = "Mahmoud")

'Khaled, Hussein, Hassan and Mahmoud'

In [59]:
num = 1.23456789

In [60]:
'%e'% num

'1.234568e+00'

In [61]:
'%f' % num

'1.234568'

In [62]:
'%.2f'% num

'1.23'

In [63]:
'%g'% num

'1.23457'

In [64]:
'%+06.1f'% num

'+001.2'

In [65]:
'%08.2f'% num

'00001.23'